.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 33, 33);
  padding: 30px;
  padding-bottom: 20%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.admin-content {
  text-align: center;
}

.admin-content img {
  max-width: 250px;
}

.admin-buttons {
  display: flex;
  padding-left: 25px;
  gap: 30px;
  margin-top: 20px;
}

h1 {
  padding-left: 50px;
  font-size: 50px;
  color: #333; 
}

button {
  padding: 10px 20px; /* Adjust padding to make the buttons bigger */
  font-size: 16px; /* Adjust font size */
  background-color: #007bff; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add some border radius for rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth background color transition */

  /* Add any other styles you want */
}

/* Hover effect for the buttons */
button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}