.header-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 70vh; /* Adjust the height as needed */
}

.logo-container {
  margin-bottom: 20px; /* Add some spacing between the logo and login button */
}

.login-container button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px; /* Adjust the padding to make the button larger */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Adjust the font size */
}

/* AdminPage.css */

/* Styling for the link text within the button */
.link-text {
  color: #fff; /* Set the desired text color */
  text-decoration: none; /* Remove underlines or other link styles */
}

/* Styling for the button */
button.custom-button {
  padding: 10px 20px; /* Adjust padding to make the button bigger */
  font-size: 16px; /* Adjust font size */
  background-color: #007bff; /* Background color */
  color: #fff; /* Button text color */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Background color transition */

  /* Add any other button styles you want */
}

/* Hover effect for the button */
button.custom-button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}
